.footer {
    background-color: #333333;
    padding-top: 60px;
    position: relative;
}

.footer-links-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #484848;
    padding-bottom: 60px;
}

.footer__icon {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__icon__link {
    color: #969696;
    text-decoration: none;
    font-weight: normal;
}

.footer-links-container__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__logo {
    font-weight: bold;
    color: #ffffff;
}

.footer__desc {
    color: #969696;
    font-size: 12px;
    width: 300px;
}

.footer__social-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__social-list__item {
}

.footer__social-list__item__link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #444444;
    padding: 10px;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin-right: 12px;
}

.footer__social-list__item__link i {
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
}

.footer__list__header {
    text-transform: capitalize;
    color: #9a9a9a;
    margin-top: 0;
}

.footer-links-container__list {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.9;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-links-container__list__item__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}

.footer__copyright {
    color: #9a9a9a;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 15px;
}

.footer__copyright__style {
    color: #ffffff;
}

.footer__bottom-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: #abb5be;
    display: inline-block;
    background-color: #e8ecef;
    padding: 10px 14px;
    border-radius: 4px;
}

.footer__bottom {
    padding-top: 15px;
}

.footer__bottom-link i {
    font-size: 18px;
}

@media (max-width: 700px) {
    .header__top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .header__icon {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header__form-search {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-right: auto;
    }

    .nav-bar__list {
        flex-direction: column;
    }

    .nav-bar__list__item:not(:last-child) {
        margin-bottom: 14px;
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero__title {
        text-align: center;
    }

    .latest__list {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-browse__wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

    .testimonials-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .latest-news__card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .communicate__card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-links-container {
        flex-direction: column;
        padding-left: 10px;
    }

    .footer-links-container:not(:last-child) nav {
        margin-bottom: 40px;
    }

    .footer-links-container__logo {
        margin-bottom: 40px;
    }

    .footer__bottom {
        padding-bottom: 35px;
        padding-left: 20px;
    }

    .input-wrapper {
        flex-direction: column;
    }
    .communicate__card-subscribe__link-wrapper {
        margin-top: 20px;
        align-self: self-start;
        margin-left: 0;
    }

}